*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(192, 65, 65);
}

:root{
    /* textos */
    --title-xl: 3rem;
    --title-m: 1.5rem;
    --title-sm: 1rem;
    --subtitle: 0.8rem;
    --text: 0.7rem;
    --leyend: 0.5rem;

    /* margin y padding */
    --p-mm: 1rem 2rem;
    --p-t: 1rem 2.5rem;

    --gap-1: 2rem; 
    --gap-2: 1rem; 
    --gap-3: 0.5rem; 
    
    /* color */
    --color-w:rgb(245, 245, 245);
    --color-b:rgb(21, 21, 21);
    --color-primary: rgb(170, 39, 39);
    --color-secondary: rgb(200, 200, 200);;
    --color-hover: rgb(130, 130, 130);
    --color-imghover: rgb(59, 58, 58);
    
}
    

:link{
    text-decoration: none;
}

body{
    background-color: var(--color-hover);
}

.flex-center{
    display: flex;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container-page{
    padding: var(--p-mm);
}


.title-navbar{
    color: var(--color-secondary);
    font-size: var(--text);  
    text-transform: capitalize;
    font-weight: lighter;
}

a.active .title-navbar {
    color: var(--color-w);
}

.title-navbar:hover{
    color: var(--color-hover);
}

.title-sm{
    font-size: var(--title-sm);
    color: var(--color-primary);
    padding: var(--p-t)
}

.logo{
    color: var(--color-primary);
    font-size: var(--title-sm);
}

.container-navbar{
    background-color: var(--color-b);
    width: 100vw;
    height: auto;
    position: sticky;
    top:0;
    gap: var(--gap-1);
}

.container-pages{
    flex-grow: 2;
    gap: var(--gap-2);
}

.container-dashboard{
    flex-grow: 1;
    justify-content: end;
    gap: var(--gap-3);
    font-size: var(--title-xl);
}

.container-footer{
    gap: var(--gap-1);
}

.container-moreinfo{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: var(--gap-2);
}

.container-item, .item-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-2);
}

.banner-info{
    width: 50%;
    gap: var(--gap-3); 
}

.id-type{
    padding-left: var(--gap-3);
    font-size: var(--subtitle);
}

.title-m{
    font-size: var(--title-xl);
}

.title span{
    display: block;
    font-size: var(--title-m);
}

.season{
    font-size: var(--subtitle);
}

.description{
    font-size: var(--text);
}



.social-media > svg{
    margin-right: var(--gap-3);
    font-size: var(--title-m);
    cursor: pointer;
}

.title-footer{
    font-size: var(--text);  
    text-transform: capitalize;
}

.legal-footer{
    font-size: var(--leyend);
}



/* buttons */
.btn-banner{
    margin: 0.5rem 1rem 0 0;
    padding: var(--gap-3);
    gap: var(--gap-3);
    border-radius: 10px;
    font-size: var(--text);
    width: fit-content;
    cursor: pointer;
    
}
.btn-banner:hover{
    background-color: var(--color-hover);
    color: var(--color-b);
}

/* item */


.MuiSvgIcon-root {
    color: var(--color-hover)
}

.item-info {
    width: 210px;
}

.item-info:hover {
    width: 210px;
}

.hover-card{
    position: relative;
    top: 0;
    cursor: pointer;
    transition: 4s;
    z-index: 99;
    border-radius: 5px;
    background-color: var(--color-imghover);
    width: 210px;
    height: 50vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.subtitle.name{
    grid-column: 1/3;
    grid-row: 1/2;
}

.subtitle.media{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}

.subtitle.rate{
    grid-column: 1/3;
}

.subtitle.overview{
    grid-column: 1/3;
    font-size:var(--text);
    width: auto;
    overflow:hidden;
    white-space:initial!important;
}

.item-info > div{
    flex-direction: row;
    color: brown;
}

.poster{
    position: absolute;
    z-index: 999;
}

.poster:hover{
    z-index: 9;
}

.poster-img{
    border-radius: 5px;
}

.poster-chip{
    z-index: 9999;
    top:0;
    position: absolute;

}

.containter-item{
    height: 50vh;
    min-height:fit-content!important ;
}

.search{
    color: var(--color-hover);
    width: 200px;
}




.container-login{
    width: 100%;
}

.screen{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.screen.welcome{
    position: relative;
}

.screen.login{
    position: absolute;
}

.login-screens{
    background-color: blanchedalmond;
    width: 200px;
    height: 300px;
}



.form{
    border: 1px solid green;
}

.form.signup-form{
    background-color: aquamarine;
}

.form.signup-form.active{
    background-color: blueviolet;
}
.form.signin-form{
    background-color: rgb(255, 127, 229);
}

.form.signin-form.active{
    background-color: rgb(71, 17, 121);
}

.article{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    /* display: ${isOpen => isOpen.active ? "flex" : "none"};
    justify-content: center;
    align-items: center;

    ${({isOpen}) => isOpen && `
        display: flex;
    `}*/
} 

.modalContainer{
    position: relative;
    padding: 1rem;
    min-width: 90vw;
    max-width: 480px;
    min-height: 200px;
    max-height: 100vh;
    overflow-y: auto;
    background-color: #fff;
}

.btnClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
}